table{
  margin-left: 300px
}
.addEmployeeForm{
    margin: 200px;
    background-color: dimgray;
    color: white;
    padding: 20px;
    /* border: 2px solid black; */
}
td{
    width: 100px;
}
/* h1{
    text-align: center;
} */

h2{
    margin-top: 100px;
}

span{
    color: red;
}

form label.required:after
{
    color: red;
    content: " *";
}